Step-Function/LambdaGlueAthenaS3/state_machine/state_machine.asl.json
{
  "Comment": "Enterprise Data Quality and Analytics Pipeline for retail transactions",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Comment": "Entry point of the workflow. This Task invokes the validator Lambda to check the uploaded file's presence, format, and metadata before any downstream processing begins.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:validator",
        "Payload.$": "$$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "PublishFailure"
        }
      ],
      "Next": "DetermineProcessingType"
    },

    "PublishFailure": {
      "Comment": "Publishes a failure message to SNS so operations or support teams are notified when validation or processing fails.",
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:REGION:ACCOUNT:ingest-failures",
        "Message.$": "States.Format('Validation failed for {} - {}', $$.Execution.Input.s3.object.key, $.errorInfo)"
      },
      "Next": "FailState"
    },

    "FailState": {
      "Comment": "Terminal failure state that stops the execution with a defined error and cause.",
      "Type": "Fail",
      "Cause": "ValidationFailed",
      "Error": "InputValidationError"
    },

    "DetermineProcessingType": {
      "Comment": "Uses Choice to decide whether the workflow should run the full validation path or a lighter quick-validation path based on the processingType input.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.processingType",
          "StringEquals": "full",
          "Next": "ParallelValidations"
        }
      ],
      "Default": "QuickValidations"
    },

    "QuickValidations": {
      "Comment": "A simplified Parallel branch that runs only the schema validation step when full validation is not required.",
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SchemaValidation",
          "States": {
            "SchemaValidation": {
              "Comment": "Checks whether the incoming data follows the required schema before the workflow continues.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:schema_validation",
                "Payload.$": "$$"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "ArchiveOriginal"
    },

    "ParallelValidations": {
      "Comment": "Runs several independent validation tasks in parallel to reduce total execution time and improve quality checks.",
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "VirusScan",
          "States": {
            "VirusScan": {
              "Comment": "Performs a virus or safety scan on the uploaded file before downstream processing.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:virus_scan",
                "Payload.$": "$$"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "SchemaValidation",
          "States": {
            "SchemaValidation": {
              "Comment": "Validates that the incoming data structure matches the expected schema.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:schema_validation",
                "Payload.$": "$$"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "DuplicateDetection",
          "States": {
            "DuplicateDetection": {
              "Comment": "Checks whether the incoming file or records have already been processed to avoid duplicate work.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:duplicate_detection",
                "Payload.$": "$$"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "BusinessRules",
          "States": {
            "BusinessRules": {
              "Comment": "Applies business-level validation rules to ensure the transaction data is acceptable.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:business_rules",
                "Payload.$": "$$"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "ArchiveOriginal",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.validationError",
          "Next": "PublishFailure"
        }
      ]
    },

    "ArchiveOriginal": {
      "Comment": "Copies the original input object to an archive location so the raw file is preserved for auditing and replay.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:archive",
        "Payload.$": "$$"
      },
      "Next": "StartGlueJob"
    },

    "StartGlueJob": {
      "Comment": "Starts the Glue ETL job synchronously so the workflow waits until the transformation completes before moving forward.",
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "retail-etl-job",
        "Arguments": {
          "--input_s3": "$.s3",
          "--output_s3": "s3://processed-bucket/",
          "--partition_key": "transaction_date"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Glue.JobRunStateException", "States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Next": "PostETLVerification",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.glueError",
          "Next": "PublishFailure"
        }
      ]
    },

    "PostETLVerification": {
      "Comment": "Verifies that the Glue output exists and is structurally correct before the workflow proceeds to analytics.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:post_etl_verifier",
        "Payload.$": "$$"
      },
      "Next": "SubmitAthenaQuery",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.postEtlError",
          "Next": "PublishFailure"
        }
      ]
    },

    "SubmitAthenaQuery": {
      "Comment": "Submits an Athena query to analyze the transformed data and returns the query execution ID for later tracking.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:athena_submit",
        "Payload.$": "$$"
      },
      "Next": "WaitForAthena",
      "ResultPath": "$.athena"
    },

    "WaitForAthena": {
      "Comment": "Pauses the workflow briefly before checking Athena query completion so the state machine does not poll too aggressively.",
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckAthena"
    },

    "CheckAthena": {
      "Comment": "Checks the status of the running Athena query and returns whether it is still running, succeeded, or failed.",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:athena_check",
        "Payload.$": "$.athena"
      },
      "Next": "AthenaChoice",
      "ResultPath": "$.athenaStatus"
    },

    "AthenaChoice": {
      "Comment": "Routes execution based on the Athena query status: continue on success, fail on error, or wait again while the query is still running.",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.athenaStatus.status",
          "StringEquals": "SUCCEEDED",
          "Next": "ProcessQueryResults"
        },
        {
          "Variable": "$.athenaStatus.status",
          "StringEquals": "FAILED",
          "Next": "PublishFailure"
        }
      ],
      "Default": "WaitForAthena"
    },

    "ProcessQueryResults": {
      "Comment": "Uses a Map state to process each Athena result item independently, which is useful for batch-style record handling.",
      "Type": "Map",
      "ItemsPath": "$.athenaStatus.results",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "ProcessRecord",
        "States": {
          "ProcessRecord": {
            "Comment": "Processes one Athena result record and can calculate metrics or build downstream reporting data.",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:record_processor",
              "Payload.$": "$$"
            },
            "End": true
          }
        }
      },
      "Next": "GenerateReports"
    },

    "GenerateReports": {
      "Comment": "Runs reporting tasks in parallel so multiple report formats can be generated concurrently.",
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "GenerateJSON",
          "States": {
            "GenerateJSON": {
              "Comment": "Generates a JSON report for downstream business consumption.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:report_generator",
                "Payload": { "format": "json" }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "GenerateCSV",
          "States": {
            "GenerateCSV": {
              "Comment": "Generates a CSV report for tabular analysis or export.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:report_generator",
                "Payload": { "format": "csv" }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "GeneratePDF",
          "States": {
            "GeneratePDF": {
              "Comment": "Generates a PDF report for business presentation or formal distribution.",
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT:function:report_generator",
                "Payload": { "format": "pdf" }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "PublishSuccess"
    },

    "PublishSuccess": {
      "Comment": "Publishes a success notification with execution metadata, Glue job information, Athena details, and report locations.",
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:REGION:ACCOUNT:ingest-success",
        "Message.$": "States.Format('Execution {} completed. GlueJobId: {}. AthenaId: {}. Reports: {}', $$.Execution.Id, $.glue.JobRunId, $.athenaStatus.queryExecutionId, $.reportLocations)"
      },
      "End": true
    }
  }
}
